<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Este sitio ha sido creado por Lolo.</p>
        <p>Usa datos de mapbox.com y openweathermap.org</p>
    </div>
    {{>footer}}
</body>

</html>